

$blogHeight: 100px;
$blogColor: rgba(41, 104, 155, 0.5)!default;


#blog-search {
    text-align: center;
}

#blog-add {
    text-align: center;
}

.blog-box {
    margin: {
        top: 10px;
        bottom: 10px;
    }
    border: 1px solid $blogColor;
}

.blog-title {
    height: $blogHeight;
}

.blog-content {
    height: $blogHeight * 4;
}