extends ../layout

block content
	.col-lg-12#blog-title
		h1
			span 写日志
	.row
		.col-lg-offset-2.col-lg-8
			form.form-horizontal
				.form-group
					label.col-lg-2.control-label(for="blogTitle") 标题
					.col-lg-10
						input.form-control#blogTitle(type="text", name="title", placeholder="标题")
				.form-group
					label.col-lg-2.control-label(for="blogDate") 日期
					.col-lg-4
						input.form-control#datetimepicker(type="text", name="date", placeholder="日期")
				.form-group
					label.col-lg-2.control-label(for="blogLang") 标签
					.col-lg-10
						each lang in langs
							.col-lg-3
								.checkbox
									label
										input(type="checkbox") 
										| #{lang}
				.form-group
					label.col-lg-2.control-label(for="blogContent") 内容
					.col-lg-10
						textarea.form-control#blogContent(name="content", rows="10", placeholder="日志内容")
				.form-group
					.col-lg-offset-2.col-lg-10
						button.btn.btn-primary#btnSaveBlog(type="button") 确定
block script	
	script(src="/js/blog.js")
	//- .row
	//- 	.modal.fade#add(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
	//- 		.modal-dialog(role="document")
	//- 			.modal-content
	//- 				.modal-header
	//- 					button.close(type="button" data-dismiss="modal" aria-label="Close")
	//- 						span(aria-hidden="true") &times;
	//- 					h4.modal-title#myModalLabel Modal title
	//- 				.modal-body
	//- 					span abc
	//- 				.modal-footer
	//- 					button.btn.btn-primary(type="button") 保 存			
