extends ../layout

block content
	.well.well-sm
		h1 
			span #{user.profile.name} 的博客
	.row
		.col-md-10
			.row
				form.form-inline
					.col-lg-2.blog-search
						input.form-control.input-lg(type="text", placeholder="日志标题/主旨")
					.col-lg-8
					.col-lg-2.blog-add
						button.btn.btn-default.btn-lg#btnAddBlog(type="button") 写 博 客
				each blog in blogs
					.row
						.blog-title.col-lg-12 
							span.col-lg-8 #{blog.title}
							span.col-lg-2 aa
							span.col-lg-2 bb
						.blog-content.col-lg-12 #{blog.article}
		.col-md-2
block script	
	script(src="/js/blog.js")